@tailwind base;
@tailwind components;
@tailwind utilities;



.heading{
  font-size: 50px;
  color: aliceblue;
  font-weight: 800;
  justify-content: center;
}
.textgenerate{
  font-size: 50px;
  color: aliceblue;
  font-weight: 500;
  padding: 20px;
}

